<div class="profile">
  <img src="images/Nb_Chill_Logo.jpg" alt="Profile">
  <div class="profile-info">
    <h2>Nb Chill</h2>
    <p>ຮ້ານຂາຍສິນຄ້າຫຼາກຫຼາຍປະເພດ<br>ກີ່ໂມງ</p>
    <div class="contact">
      Facebook : <a href="https://www.facebook.com/profile.php?id=61578136801566" target="_blank">Nb Chill</a><br>
      ເບີຕິດຕໍ່ : <a href="tel:+856 20 58 438 655">+856 20 58 438 655</a><br>
      WhatApp : <a href="https://wa.me/8562058438655?text=ສະບາຍດີ%20ນີ້ແມ່ນເວັບຂອງຂ້ອຍ%20https://mrsilivathana.github.io/Nb-Chill/" target="_blank">+856 20 58 438 655</a>
    </div>
  </div>
</div>
